        <% if @response %>
          <% @response["places"].each do |places| %>

              <h2><%= "#{places["city"]}, #{places["state"]}" %></h2>

              <% places["activities"].each do |activity| %>
                  
                <ul>
                    <li><%= activity["name"] %></li>
                    <li><%= activity["description"] %></li>
                    <li><%= activity["activity_type_name"] %></li>
                  </ul>
              <%= link_to "Details", trail: "#{activity['name']}", action: "show" %>

              <% end %>

          <% end %>
        <% end %>




 