
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trail Mix</title>
</head>
    <body>

	    <div class="container-fluid">
	  		<div class="row">
	  			
	   			
	   				<div class="carousel-inner" role="listbox">
	   			<div id="index-carousel" class="carasouel slide" data-ride="carousel" data-interval="5000">
	   				<!-- indicators -->
	   				<ol class="carousel-indicators">
	   					<li data-target="#index-carousel" data-slide-to="0" class="active"></li>
	   					<li data-target="#index-carousel" data-slide-to="1"></li>
	   					<li data-target="#index-carousel" data-slide-to="2"></li>
	   					<li data-target="#index-carousel" data-slide-to="3"></li>
	   					<li data-target="#index-carousel" data-slide-to="4"></li>
	   				</ol>
					<div class = "col-xs-12">
	        		<h1 class = "text-center">Trail Mix</h1>
	   				</div>
	   				<!-- Wrapper for slides -->
	   				<div class="carousel-inner" role="listbox">
	   					<div class="item active">
	   						<div style="background-size: cover; background-position: center; background-image: url(<%= asset_path "hiking1.jpg" %>); height: 400px;">
	   						</div>
	   					</div>
	   					<div class="item">
	   						<div style="background-size: cover; background-position: center; background-image: url(<%= asset_path "hiking2.jpg" %>); height: 400px;">
	   						</div>
	   					</div>
						<div class="item">
	   						<div style="background-size: cover; background-position: center; background-image: url(<%= asset_path "hiking3.jpg" %>); height: 400px;">
	   						</div>
	   					</div>
						<div class="item">
	   						<div style="background-size: cover; background-position: center; background-image: url(<%= asset_path "hiking4.jpg" %>); height: 400px;">
	   						</div>
	   					</div>
	   					<div class="item">
	   						<div style="background-size: cover; background-position: center; background-image: url(<%= asset_path "hiking5.jpg" %>); height: 400px;">
	   						</div>
	   					</div>
	   				</div>
	   			

						<%= form_tag root_path, method: 'get', class: 'form-inline' do %>
							 
							<div class="form-group">
								<%= text_field_tag :location, nil, placeholder: 'Type an address, city, or zip code.', class: 'form-control' %>
							</div>
							<div class="form-group">
								<%= select_tag "activity", "
								<option value=''>Select an Activity</option>
								<option>hiking</option>
								<option>camping</option>
								<option>mountain biking</option>
								<option>caving</option>
								<option>snow sports</option>

								".html_safe, class: 'form-control' %>
							</div>
							<div class="form-group">
								<%= submit_tag "Search", class: "btn btn-default" %>
							</div>
						
						<% end %>
					</div>
				</div>
		

				<% if @response %>
					<% @response["places"].each do |places| %>

				    	<h2><%= "#{places["city"]}, #{places["state"]}" %></h2>

							<% places["activities"].each do |activity| %>
				          
					    	<ul>
						        <li><%= activity["name"] %></li>
						        <li><%= activity["description"] %></li>
						        <li><%= activity["activity_type_name"] %></li>
					        </ul>
					    <%= link_to "Details", trail: "#{activity['name']}", lat: "{places['lat']}", action: "index" %>

				    	<% end %>

					<% end %>
				<% end %>
				<%= @trail %>

				<%= @responses %>
				<%= @name %>
				<% unless @instagram.nil? %>

   <% @instagram.each do |instagram| %>

   <%= image_tag instagram.images.standard_resolution.url %>

   <% end %>

<% end %>


    	<div id="map-canvas"> 

		</div>


    </body>
</html>

