
<div class="static">
    <%= render 'nav' %>
    <div class="main">
            <% unless @trail.nil? %>
                <div class="row">
                    <div class ="col-xs-12 text-center">
                        <h1 class='place_name'><%= @trail['places'][0]['name'] %></h1>
                    </div>
                    <div class ="col-xs-12">
                        <div class="img_container text-center">
                            <% unless @instagram.nil? %>
                                <% @instagram.each_with_index do |instagram, index| %>
                                        <%= image_tag instagram.images.standard_resolution.url, :size => "260x180" %>

                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class ="col-xs-8">
                        <div class="place_body">
                            <h2><%= @trail['places'][0]['city'] %>, <%= @trail['places'][0]['state'] %></h2>
                                <p><strong>Activity Description:</strong> <%= @trail['places'][0]['activities'][0]['description'] %></p>
                                <p><strong>Description:</strong> <%= @trail['places'][0]['description'] %></p>
                            </div>
                    </div>
                    <div class="col-xs-4 text-center" > 
                        <h1>Directions</h1>
                            <div id="map-canvas"></div>
                    </div>
                </div>
            <% end %>
    </div>

            <%= render 'footer' %>
</div>  

