<!DOCTYPE html>
<html>
<head>
	<title>TrailMix</title>
	<%= stylesheet_link_tag	'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	

<%= yield %>

<!--Hidden, this is used to grab the lon and lat of a location for google maps-->
<% if @trail %>
	<div id="latlon" lat=<%= @trail["places"][0]["lat"] %> lon=<%= @trail["places"][0]["lon"] %>></div>
<% end %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
